
*{
padding:0;
margin:0;
box-sizing:border-box;
}
body{
	
font-family: 'Poppins',sans-serif;
}
h1,h2{
font-family:sans-serif;
font-weight:400;
}
a{
text-decoration:none;

}
li{
list-style:none;
}
.flex{
display:flex;
}
.flex_space{
display:flex;
justify-content:space-between;
}
button{
border:none;
background: none;
outline :none;
transition :0.5s;
cursor:pointer;

}
.primary-btn{
	padding:30px 10px;
	background:#7fc142;
	font-weight:bold;
	color:white;
	
	
	
}
.primary-btn{
	padding:15px 40px;
	background:#7fc142;
	font-weight:bold;
	color:white;
	
}
.secondary-btn{
	padding:15px 40px;
	background:none;
	border:2px solid white;
	
	font-weight:bold;
	color:white;
	
}
.container{
max-width:85%;
margin;auto;
}
header{
	height:10vh;
	line-height:10vh;
	padding: 0 20px;
}
header img{
	margin:20px 0;
}
header ul{
display:inline-block;
}
header ul li{
display:inline-block;

}
header ul li a{
	color: black;
	margin:0 10px;
	transition:0.5s;
}
header ul li a:hover{
color:#7fc142;
}
header i{
margin :0 20 px;
}
header button{
 padding: 13px 40px;
 }
 header .navlinks span {
 display: none;
 }
.grid
{
	display:grid;
	grid-template-columns: repeat(5,1fr);
	grid-gap:20px;
	
}
input{
outline: none;
border:none;
width:100%;
}
.book
{
	padding:40px 0;
	background:#282834;
	color:#fff;
	
}
h1
{
	font-family:serif;
}
.book h1{
	font-family:serif;
	font-size:28px;
}
.book h1 span{
color:#7fc142;
}

.book input{
padding:20px;

}
.book input:nth-last-child(1){
background:#7fc142;
color:#fff;
}
.left, .right{
width:50%;
padding:30px;
}
.top{
margin-top:80px;

}
.mtop {
margin-top:40px;
}
.heading h1
{
	font-size:100px;
	font-weight:500;
	opacity:0.1;
	font-family:serif;
	position:absolute;
	top:-30px;
}
.heading h2
{
	margin:30px 0;
	font-size:45px;
	font-family:serif;
	font-weight:400;
	
}
.about .heading h1
{
	top:55px;
}
.about{
position:relative;
}
.about .left{
margin-top:30px;
}
.about p{
font-size:15px;
}
.about button{
margin:30px 0;

}
.about .left .primary-btn{
margin-top:30px;
width:40%;
}

.counter{
 background-color:rgb(60, 56, 84);
background-size:cover;

height:30vh;
width:100%;
color:#fff;
}
.counter .grid{
grid-template-columns: repeat(4,1fr);
text-align:center;
padding-top:60px;
}
.counter h1{
	font-size:50px;
	
}
.counter hr{
width:50%;
margin:10px auto;
background:#7fc142;
height:2px;
border:none;
}
.rooms
{
	position:relative;
	
}
.rooms .heading h1
{	font-size:100px;
	font-weight:500;
	opacity:0.1;
	font-family:serif;
	position:absolute;
     padding:30px;
	top:-30px;
}
.rooms .heading h2
{	
     padding:30px;
	
}
.rooms .text{
border:1px solid rgba(0,0,0,0.5);
border-top: none;
padding: 30px;
}
.rooms i{
font-size:12px;
color: #fbb234;
margin:15px 0;
margin-right:5px;
}
.rooms p{
margin:20px 0;
opacity:0.7;
}
.rooms h3{
font-size:30px;
line-height:20px;
margin-left:20px;
font-weight:500;
color:#7fc142;
}
.rooms .primary-btn{
margin-top:50px;
width:50%;
margin-left:0px;
}
.rooms h3 span{
font-size:15px;
font-weight:400;
color:black;

}
.gallery
{
	position:relative;
	
}
.gallery img{
width:100%;
height:100%;

}
.gallery .img
{
	position: relative;
}
.gallery .heading h1
{	font-size:100px;
	font-weight:500;
	opacity:0.1;
	font-family:serif;
	position:absolute;
     padding:30px;
	top:-30px;
}
.gallery .heading h2
{	
     padding:30px;
	
}
.gallery .heading p
{	
     padding:30px;
	
}
.overlay
{
	position:absolute;
	top:35%;
	left:25%;
	z-index:3;
	text-align:center;
	color:white;
	transition:0.5s;
}
.gallery span{
width:50px;
height:50px;
line-height:50px;
border-radius:50%;
text-align:center;
border:2px solid white;
}
.overlay h3{
margin-top: 20px;
font-weight:500;

}
.gallery .items:hover .overlay,
.gallery .items:hover .img:: after
{
	opacity:1;
	cursor:pointer;
	
}
.services {
position:relative;
}
.grid2{
display:grid;
grid-template-columns: repeat(2,1fr);
grid-gap:30px;

}
.services .left{
padding:30px 0;

}
.services .box{
border:1px solid rgba(0,0,0,0.1);
text-align:center;
transition:0.5s;
padding:20px;
}
.services .heading h1
{	font-size:100px;
	font-weight:500;
	opacity:0.1;
	font-family:serif;
	position:absolute;
     padding:30px;
	top:-30px;
}
.services .heading h2
{	
     padding:30px;
	
}
.services .heading p
{	
     padding:30px;
	
}
.services .box .text{
	padding:30px 0;
	border:1px dashed #white;
	}
.services i{
font-size:50px;
color:#7fca42;
transition:0.5s;


}
.services h3{
font-size:20px;
font-weight:400;
margin-top:20px;
transition:0.5s;
}
.services img
{
	width:100%;
	height:100%;
}
.services .box:hover{
background:#7fc142;
color:#fff;
cursor:pointer;
}
.services .box:hover i{

color:#fff;

}
.services .box:hover h3{

color:#fff;

}
.services .left, .right
 {
    width: 50%;
    padding: 30px;
 }
.Customer
{
	background-color:rgb(60, 56, 84);
	text-align:center;
	height:80vh;
	width:100%;
	color:#fff;
	
	
}
.Customer p
{
	padding:50px;
	line-height:30px;
}
.Customer .container{
max-width:70%;

}
.Customer .items{
padding:10% 0;
}
.Customer i{
width:100px;
height:100px;
background: rgba(126,193,64,0.5);
line-height:100px;
border-radius:50%;
font-size:50px;
margin-bottom:50px;
}
.Customer h3{
margin-top:20px;
color:#7fc142;
}
.Customer span{
font-size:15px;
}
footer
{
background:#282834;
color:#b6b7b9;
padding: 10% 0 5% 0;

}
footer .grid{
grid-template-columns:repeat 6fr 3fr 3fr;

}
footer p
{
	color:#b6b7b9;
	font-size:15px;
	line-height:25px;
}
footer .icon i{
margin:20px 0 20px 20px 0;
	color:#b6b7b9;
}
footer h2
{
	color:#fff;
	margin-bottom:10px;
}
footer i{
	color:#7fca42;
	margin:20px;
	margin-right:20px;
}
footer li{
margin-bottom:20px;
}
footer icon{
color:#7fc142;
margin:20px 0;
margin-right:20px;

}
footer label
{
margin:20px 0;
}
