body {

    background: cover;
     display: flex;
 height: 100vh;

    flex-direction: column;
	align-items:center;
    flex-direction:column;
}
body{
	background-image: linear-gradient(
    to bottom,
    rgba(255, 130, 8, 2.5),
    rgba(45, 0, 150, 1.5)
  );

}

*{

    font-family: cursive;


}

form {

    width: 1000px;

    border: 3px solid rgb(177, 142, 142);

    padding: 20px;

    background:dimgray;

    border-radius: 20px;
	align-items:center;

}

img{
width:75px;
	height:80px;
	align-items:center;
margin-left:450px;	
}

h2 {

    text-align: center;

    margin-bottom: 40px;

}

input {

    display: block;

    border: 2px solid #ccc;

    width: 500px;

    padding: 10px;

    margin: 10px auto;

    border-radius: 5px;
	
	

}

label {

    color: #888;

    font-size: 18px;

    padding: 10px;

}

button {

    float: right;

    background: rgb(35, 174, 202);

    padding: 10px 15px;

    color: black;

    border-radius: 5px;

    margin-right: 10px;

    border: none;

}

button:hover{

    opacity: .10;

}